{% extends 'base.html' %}

{% block titlepage %}Try blog{% endblock titlepage %}

{% block content %}
<div class='pageTitle'><h1>Try Blog</h1></div>
 


<div class="mx-auto mt-4" style="width: 100px;">
    <a href="{% url 'posts:create-post' %}"><button class="btn btn-primary">Add Post</button></a>
  </div>

{%for post in posts reversed%}
    <div class="posts" style="color: black; text-decoration:none;">
        <h3>{{post.title}}</h3>
            <h6>{{post.created_at}}</h6>
            <p>{{post.body|truncatewords:20}}</p>
        <a href="get-post/{{post.id}}">
            <button class="btn btn-secondary">See post</button>
        </a>
        <form action="{% url 'posts:delete-post' %}" method="POST" class="mt-2">
            {% csrf_token %}
            <input type="hidden" name="post-id" value="{{post.id}}"/>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
{%endfor%}

{% endblock content %}

